<%= form_with(model: orcamento) do |form| %>
  <% if orcamento.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(orcamento.errors.count, "error") %> prohibited this orcamento from being saved:</h2>

      <ul>
        <% orcamento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cliente_id, style: "display: block" %>
    <%= form.text_field :cliente_id %>
  </div>

  <div>
    <%= form.label :funcionario_id, style: "display: block" %>
    <%= form.text_field :funcionario_id %>
  </div>

  <div>
    <%= form.label :data_orcamento, style: "display: block" %>
    <%= form.datetime_field :data_orcamento %>
  </div>

  <div>
    <%= form.label :data_validade, style: "display: block" %>
    <%= form.datetime_field :data_validade %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
