<div id="<%= dom_id orcamento %>">
  <div>
    <strong>Cliente:</strong>
    <%= orcamento.cliente_id %>
  </div>

  <div>
    <strong>Funcionario:</strong>
    <%= orcamento.funcionario_id %>
  </div>

  <div>
    <strong>Data orcamento:</strong>
    <%= orcamento.data_orcamento %>
  </div>

  <div>
    <strong>Data validade:</strong>
    <%= orcamento.data_validade %>
  </div>

</div>
