<div id="<%= dom_id item %>">
  <div>
    <strong>Fornecedor:</strong>
    <%= item.fornecedor_id %>
  </div>

  <div>
    <strong>Categoria:</strong>
    <%= item.categoria_id %>
  </div>

  <div>
    <strong>Fabricante:</strong>
    <%= item.fabricante_id %>
  </div>

  <div>
    <strong>Descricao:</strong>
    <%= item.descricao %>
  </div>

  <div>
    <strong>Quantidade estoque:</strong>
    <%= item.quantidade_estoque %>
  </div>

  <div>
    <strong>Preco custo:</strong>
    <%= item.preco_custo %>
  </div>

  <div>
    <strong>Preco venda:</strong>
    <%= item.preco_venda %>
  </div>

  <div>
    <strong>Ncm:</strong>
    <%= item.ncm %>
  </div>

</div>
