<div id="<%= dom_id movimentacao_estoque %>">
  <div>
    <strong>Funcionario:</strong>
    <%= movimentacao_estoque.funcionario_id %>
  </div>

  <div>
    <strong>Item:</strong>
    <%= movimentacao_estoque.item_id %>
  </div>

  <div>
    <strong>Venda:</strong>
    <%= movimentacao_estoque.venda_id %>
  </div>

  <div>
    <strong>Compra:</strong>
    <%= movimentacao_estoque.compra_id %>
  </div>

  <div>
    <strong>Tipo:</strong>
    <%= movimentacao_estoque.tipo %>
  </div>

  <div>
    <strong>Quantidade:</strong>
    <%= movimentacao_estoque.quantidade %>
  </div>

  <div>
    <strong>Motivo:</strong>
    <%= movimentacao_estoque.motivo %>
  </div>

  <div>
    <strong>Data:</strong>
    <%= movimentacao_estoque.data %>
  </div>

</div>
