<div id="<%= dom_id compra %>">
  <div>
    <strong>Fornecedor:</strong>
    <%= compra.fornecedor_id %>
  </div>

  <div>
    <strong>Item:</strong>
    <%= compra.item_id %>
  </div>

  <div>
    <strong>Descricao:</strong>
    <%= compra.descricao %>
  </div>

  <div>
    <strong>Valor total:</strong>
    <%= compra.valor_total %>
  </div>

  <div>
    <strong>Data vencimento:</strong>
    <%= compra.data_vencimento %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= compra.status %>
  </div>

</div>
