<div id="<%= dom_id dados_empresa %>">
  <div class="form-section-title">Informações Principais</div>
  <div class="detail-grid" style="margin-bottom: 30px;">
    <div class="detail-item">
      <span class="detail-label">Razão Social</span>
      <span class="detail-value"><%= dados_empresa.razao_social %></span>
    </div>
    <div class="detail-item">
      <span class="detail-label">CNPJ</span>
      <span class="detail-value"><%= dados_empresa.cnpj %></span>
    </div>
    <div class="detail-item">
      <span class="detail-label">I.E.</span>
      <span class="detail-value"><%= dados_empresa.ie %></span>
    </div>
    <div class="detail-item">
      <span class="detail-label">I.M.</span>
      <span class="detail-value"><%= dados_empresa.im %></span>
    </div>
    <div class="detail-item">
      <span class="detail-label">Regime Tributário</span>
      <span class="detail-value"><%= dados_empresa.regime_tributario %></span>
    </div>
  </div>

  <div class="form-section-title">Endereço</div>
  <div class="detail-grid">
    <div class="detail-item">
      <span class="detail-label">CEP</span>
      <span class="detail-value"><%= dados_empresa.cep %></span>
    </div>
    <div class="detail-item">
      <span class="detail-label">Endereço</span>
      <span class="detail-value"><%= dados_empresa.rua %>, <%= dados_empresa.numero %></span>
    </div>
    <div class="detail-item">
      <span class="detail-label">Complemento</span>
      <span class="detail-value"><%= dados_empresa.complemento %></span>
    </div>
    <div class="detail-item">
      <span class="detail-label">Bairro</span>
      <span class="detail-value"><%= dados_empresa.bairro %></span>
    </div>
    <div class="detail-item">
      <span class="detail-label">Cidade / UF</span>
      <span class="detail-value"><%= dados_empresa.cidade %> - <%= dados_empresa.estado %></span>
    </div>
  </div>
</div>