<div id="<%= dom_id dados_empresa %>">
  <div>
    <strong>Cnpj:</strong>
    <%= dados_empresa.cnpj %>
  </div>

  <div>
    <strong>Razao social:</strong>
    <%= dados_empresa.razao_social %>
  </div>

  <div>
    <strong>Ie:</strong>
    <%= dados_empresa.ie %>
  </div>

  <div>
    <strong>Im:</strong>
    <%= dados_empresa.im %>
  </div>

  <div>
    <strong>Regime tributario:</strong>
    <%= dados_empresa.regime_tributario %>
  </div>

  <div>
    <strong>Rua:</strong>
    <%= dados_empresa.rua %>
  </div>

  <div>
    <strong>Numero:</strong>
    <%= dados_empresa.numero %>
  </div>

  <div>
    <strong>Complemento:</strong>
    <%= dados_empresa.complemento %>
  </div>

  <div>
    <strong>Bairro:</strong>
    <%= dados_empresa.bairro %>
  </div>

  <div>
    <strong>Cidade:</strong>
    <%= dados_empresa.cidade %>
  </div>

  <div>
    <strong>Estado:</strong>
    <%= dados_empresa.estado %>
  </div>

  <div>
    <strong>Cep:</strong>
    <%= dados_empresa.cep %>
  </div>

</div>
