<%= form_with(model: dados_empresa) do |form| %>
  <% if dados_empresa.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dados_empresa.errors.count, "error") %> prohibited this dados_empresa from being saved:</h2>

      <ul>
        <% dados_empresa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cnpj, style: "display: block" %>
    <%= form.text_field :cnpj %>
  </div>

  <div>
    <%= form.label :razao_social, style: "display: block" %>
    <%= form.text_field :razao_social %>
  </div>

  <div>
    <%= form.label :ie, style: "display: block" %>
    <%= form.text_field :ie %>
  </div>

  <div>
    <%= form.label :im, style: "display: block" %>
    <%= form.text_field :im %>
  </div>

  <div>
    <%= form.label :regime_tributario, style: "display: block" %>
    <%= form.number_field :regime_tributario %>
  </div>

  <div>
    <%= form.label :rua, style: "display: block" %>
    <%= form.text_field :rua %>
  </div>

  <div>
    <%= form.label :numero, style: "display: block" %>
    <%= form.number_field :numero %>
  </div>

  <div>
    <%= form.label :complemento, style: "display: block" %>
    <%= form.textarea :complemento %>
  </div>

  <div>
    <%= form.label :bairro, style: "display: block" %>
    <%= form.text_field :bairro %>
  </div>

  <div>
    <%= form.label :cidade, style: "display: block" %>
    <%= form.text_field :cidade %>
  </div>

  <div>
    <%= form.label :estado, style: "display: block" %>
    <%= form.text_field :estado %>
  </div>

  <div>
    <%= form.label :cep, style: "display: block" %>
    <%= form.text_field :cep %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
