<div id="<%= dom_id funcionario %>">
  <div>
    <strong>Cargo:</strong>
    <%= funcionario.cargo_id %>
  </div>

  <div>
    <strong>Nome:</strong>
    <%= funcionario.nome %>
  </div>

  <div>
    <strong>Cpf:</strong>
    <%= funcionario.cpf %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= funcionario.email %>
  </div>

  <div>
    <strong>Telefone:</strong>
    <%= funcionario.telefone %>
  </div>

  <div>
    <strong>Data admissao:</strong>
    <%= funcionario.data_admissao %>
  </div>

  <div>
    <strong>Senha hash:</strong>
    <%= funcionario.encrypted_password %>
  </div>

</div>
